# Evitar archivos de configuración sensibles
browser.json
headers_auth.json
config.json
*.env
.cache

# Archivos de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env/

# Archivos del sistema
.DS_Store
Thumbs.db
